# Budget Analysis

## Import dependencies and data files

In [3]:
#import dependancies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
#import data files from CSV file in module and as a variable. 
budget_pd = pd.read_csv('../Python_Challenge/budget_data.csv')

In [5]:
#check dataframe was created correctly and all information was translated to jupyter notebook.
budget_pd

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

## Clean Data For Further Analysis

In [6]:
#analyze the records to calculate each of the required values.
#First, the total number of months included in the dataset.  

budget_pd.sort_values('Date').count()

Date             86
Profit/Losses    86
dtype: int64

In [7]:
#show a better visualization of the total amount of months as a pivot table. 
budget_pd.pivot_table('Profit/Losses', 'Date')

        Profit/Losses
Date
Apr-10        -728133
Apr-11         837887
Apr-12         589771
Apr-13         542630
Apr-14         292032
...               ...
Sep-12         855449
Sep-13         679524
Sep-14         290162
Sep-15         854181
Sep-16         898241

[86 rows x 1 columns]

In [8]:
#analyze the changes of the net total amount of "Profit/Losses" over the entire period.
budget_pd.sort_values('Profit/Losses').sum()

Date             Dec-10Feb-16Jul-11Feb-14Jul-16Feb-11Sep-11Nov-...
Profit/Losses                                             22564198
dtype: object

In [9]:
#I want to show a better visualization of the Profit/Lossess column with a pivot table. 
#This pivot table does not show the total sum of $22564198 unlike the line prior. 
budget_pd.pivot_table('Date', 'Profit/Losses')

/var/folders/2p/49ybcsbj6nb1_gjhq7bl4j2m0000gn/T/ipykernel_14929/2575368163.py:3: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  budget_pd.pivot_table('Date', 'Profit/Losses')

Empty DataFrame
Columns: []
Index: [-1194133, -1149123, -1066544, -946748, -910775, -883921, -806551, -785750, -748256, -729004, -728133, -589576, -549615, -535208, -496214, -471439, -388932, -354534, -288531, -252949, -235220, -197825, -184383, -173744, -112209, 99841, 120417, 159782, 163254, 175347, 241132, 265852, 276622, 290162, 292032, 298510, 313000, 323846, 340335, 347138, 355882, 382539, 443564, 462102, 464033, 487053, 489290, 502266, 514377, 516313, 518681, 537759, 542630, 547784, 563721, 589771, 605195, 607208, 632349, 659541, 662284, 666016, 679524, 739367, 752765, 755391, 791398, 837887, 851017, 852993, 853904, 854181, 855449, 878810, 898241, 914424, 934719, 950741, 951227, 982952, 1036589, 1073202, 1081472, 1088983, 1128811, 1141840]

[86 rows x 0 columns]

In [14]:
#I want to show the greatest increase in profits (date and amount) over the entire period. 
budged_pd.loc[budget_pd.INCREASE.idxmax()]

NameError: name 'budged_pd' is not defined

In [11]:
#I want to show the greatest decrease in profits by date and amount over the entire period. 
budget_pd.sort_values(by='Profit/Losses', ascending=True)

      Date  Profit/Losses
11  Dec-10       -1194133
73  Feb-16       -1149123
18  Jul-11       -1066544
49  Feb-14        -946748
78  Jul-16        -910775
..     ...            ...
58  Nov-14        1073202
16  May-11        1081472
0   Jan-10        1088983
22  Nov-11        1128811
38  Mar-13        1141840

[86 rows x 2 columns]