# Election Analysis

## Import dependencies and data files

In [2]:
#Import dependencies
import pandas as pd
import numpy as np

In [3]:
#import data files from CSV file in module and as a variable.
election_df = pd.read_csv('../Resources/election_data.csv')

In [4]:
#check dataframe was created correctly and all information was translated to jupyter notebook.
election_df

        Ballot ID     County                Candidate
0         1323913  Jefferson  Charles Casper Stockham
1         1005842  Jefferson  Charles Casper Stockham
2         1880345  Jefferson  Charles Casper Stockham
3         1600337  Jefferson  Charles Casper Stockham
4         1835994  Jefferson  Charles Casper Stockham
...           ...        ...                      ...
369706    4714953   Arapahoe     Raymon Anthony Doane
369707    4497542   Arapahoe     Raymon Anthony Doane
369708    4085849   Arapahoe     Raymon Anthony Doane
369709    4592018   Arapahoe     Raymon Anthony Doane
369710    4660518   Arapahoe     Raymon Anthony Doane

[369711 rows x 3 columns]

## Clean Data For Further Analysis

In [5]:
#analyze the records to calculate each of the required values.
#First, the total number of votes cast. 

election_df.sort_values('Ballot ID').count()

Ballot ID    369711
County       369711
Candidate    369711
dtype: int64

In [6]:
#Show a better visualization of the total amount of months as a pivot table. 
election_df.pivot_table('Ballot ID', 'Candidate')

                            Ballot ID
Candidate
Charles Casper Stockham  2.461479e+06
Diana DeGette            6.055045e+06
Raymon Anthony Doane     3.372827e+06

In [10]:
#Show a complete list of candidates who received votes.
election_df.sort_values('Candidate').head(50)

       Ballot ID     County                Candidate
0        1323913  Jefferson  Charles Casper Stockham
67245    2871495     Denver  Charles Casper Stockham
67244    2002887     Denver  Charles Casper Stockham
67243    2650977     Denver  Charles Casper Stockham
67242    2426080     Denver  Charles Casper Stockham
67241    2348793     Denver  Charles Casper Stockham
67240    2991842     Denver  Charles Casper Stockham
67239    2451993     Denver  Charles Casper Stockham
67238    2749139     Denver  Charles Casper Stockham
67237    2115479     Denver  Charles Casper Stockham
67246    2457286     Denver  Charles Casper Stockham
67236    2164570     Denver  Charles Casper Stockham
67234    2511695     Denver  Charles Casper Stockham
67233    2978640     Denver  Charles Casper Stockham
67232    2752931     Denver  Charles Casper Stockham
67231    2892326     Denver  Charles Casper Stockham
67230    2694287     Denver  Charles Casper Stockham
67229    2566100     Denver  Charles Casper Stockham
67228    2249312     Denver  Charles Casper Stockham
67227    2708672     Denver  Charles Casper Stockham
67226    2510064     Denver  Charles Casper Stockham
67235    2950501     Denver  Charles Casper Stockham
67247    2230930     Denver  Charles Casper Stockham
67248    2996304     Denver  Charles Casper Stockham
67249    2141671     Denver  Charles Casper Stockham
67270    2747739     Denver  Charles Casper Stockham
67269    2099381     Denver  Charles Casper Stockham
67268    2126688     Denver  Charles Casper Stockham
67267    2207029     Denver  Charles Casper Stockham
67266    2342078     Denver  Charles Casper Stockham
67265    2503847     Denver  Charles Casper Stockham
67264    2310548     Denver  Charles Casper Stockham
67263    2722065     Denver  Charles Casper Stockham
67262    2054150     Denver  Charles Casper Stockham
67261    2239223     Denver  Charles Casper Stockham
67260    2863048     Denver  Charles Casper Stockham
67259    2085872     Denver  Charles Casper Stockham
67258    2218753     Denver  Charles Casper Stockham
67257    2377119     Denver  Charles Casper Stockham
67256    2189933     Denver  Charles Casper Stockham
67255    2194652     Denver  Charles Casper Stockham
67254    2493786     Denver  Charles Casper Stockham
67253    2906920     Denver  Charles Casper Stockham
67252    2456333     Denver  Charles Casper Stockham
67251    2039467     Denver  Charles Casper Stockham
67250    2582895     Denver  Charles Casper Stockham
67225    2405670     Denver  Charles Casper Stockham
67271    2944030     Denver  Charles Casper Stockham
67224    2389578     Denver  Charles Casper Stockham
67222    2300024     Denver  Charles Casper Stockham

In [17]:
#Percent change by candidate.

election_df['% Percent Change'] = election_df['Ballot ID'].pct_change()
election_df['% Percent Change'] = election_df['% Percent Change'].round(2)
election_df['% Percent Change'] = election_df['% Percent Change'] *100
election_df

        Ballot ID     County                Candidate  % Percent Change
0         1323913  Jefferson  Charles Casper Stockham               NaN
1         1005842  Jefferson  Charles Casper Stockham             -24.0
2         1880345  Jefferson  Charles Casper Stockham              87.0
3         1600337  Jefferson  Charles Casper Stockham             -15.0
4         1835994  Jefferson  Charles Casper Stockham              15.0
...           ...        ...                      ...               ...
369706    4714953   Arapahoe     Raymon Anthony Doane               2.0
369707    4497542   Arapahoe     Raymon Anthony Doane              -5.0
369708    4085849   Arapahoe     Raymon Anthony Doane              -9.0
369709    4592018   Arapahoe     Raymon Anthony Doane              12.0
369710    4660518   Arapahoe     Raymon Anthony Doane               1.0

[369711 rows x 4 columns]

In [31]:
# Groupby columns Candidate and Ballot ID to show total number of votes each candidate won.

election_df.groupby(['Candidate'])['Ballot ID'].sum()

Candidate
Charles Casper Stockham     209750048043
Diana DeGette              1652373440459
Raymon Anthony Doane         39145031540
Name: Ballot ID, dtype: int64

In [54]:
# Show the total votes per percentage of each candidate.
df2 = election_df.groupby(['Candidate', '% Percent Change']).agg({'% Percent Change': 'sum'})
print(df2)

                                          % Percent Change
Candidate               % Percent Change
Charles Casper Stockham -50.0                       -100.0
                        -49.0                       -637.0
                        -48.0                      -1440.0
                        -47.0                      -1974.0
                        -46.0                      -3036.0
...                                                    ...
Raymon Anthony Doane     85.0                        170.0
                         86.0                        172.0
                         87.0                         87.0
                         88.0                        176.0
                         93.0                         93.0

[434 rows x 1 columns]

In [55]:
# Percentage by lambda and election_df.apply() method. 

df3 = df2.groupby(level=0).apply(lambda x:100 * x / float(x.sum()))
print(df3)

                                          % Percent Change
Candidate               % Percent Change
Charles Casper Stockham -50.0                    -0.062135
                        -49.0                    -0.395800
                        -48.0                    -0.894743
                        -47.0                    -1.226544
                        -46.0                    -1.886417
...                                                    ...
Raymon Anthony Doane     85.0                     1.465391
                         86.0                     1.482631
                         87.0                     0.749935
                         88.0                     1.517111
                         93.0                     0.801655

[434 rows x 1 columns]